<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.MyBatisDemo.repository.SubjectRepository">
    <resultMap id="SubjectResultType" type="com.example.MyBatisDemo.model.SubjectEntity">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="credits" column="credits" />
        <association property="teacher" column="teacher_id" javaType="com.example.MyBatisDemo.model.TeacherEntity" select="selectTeacherForSubject" />
    </resultMap>

    <resultMap id="DisplaySubjectResultMap" type="com.example.MyBatisDemo.model.SubjectEntity">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="credits" column="credits" />
        <result property="teacher.id" column="teacher_id" />
    </resultMap>

    <resultMap id="TeacherResultType" type="com.example.MyBatisDemo.model.TeacherEntity">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="age" column="age" />
        <result property="email" column="email" />
        <result property="city" column="city" />
    </resultMap>

    <select id="findAllSubjects" resultMap="DisplaySubjectResultMap" >
        select * from subject
    </select>

    <select id="findSubjectById" resultMap="SubjectResultType" parameterType="java.lang.Long">
        select * from subject where id = #{id}
    </select>

    <select id="selectTeacherForSubject" parameterType="java.lang.Long" resultMap="TeacherResultType">
        select t.id, t.name, t.age, t.email, t.city from teacher t INNER JOIN subject s on t.id = s.teacher_id where s.id = #{id}
    </select>

    <insert id="addSubject" parameterType="com.example.MyBatisDemo.model.SubjectEntity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into subject (name, credits, teacher_id) values (#{name}, #{credits}, #{teacher.id})
    </insert>
</mapper>