<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.MyBatisDemo.repository.SubjectRepository">
    <resultMap id="SubjectResultType" type="com.example.MyBatisDemo.model.SubjectEntity">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="credits" column="credits" />
<!--        <result property="teacher" column="teacher_id" />-->
<!--        <association property="StudentEntity" column="id" javaType="com.example.MyBatisDemo.model.TeacherEntity" select="selectTeacherForSubject" />-->
    </resultMap>

    <select id="findAllSubjects" resultMap="SubjectResultType" >
        select * from subject
    </select>
    <select id="findSubjectById" resultMap="SubjectResultType" parameterType="java.lang.Long">
        select * from subject where id = #{id}
    </select>

<!--    <select id="selectTeacherForSubject" resultType="com.example.MyBatisDemo.model.TeacherEntity" parameterType="java.lang.Long">-->
<!--        select * from teacher where id = #{id}-->
<!--    </select>-->
</mapper>